<.header>
Configuration
</.header>

<div class="grid grid-flow-row ">
  <div class="bg-gray rounded-xl shadow-sm p-5 px-6 border1 dark:bg-gray-800">01</div>
  <div class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-gray-800">01</div>
  <div>03</div>
</div>